* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  letter-spacing: 0.07rem;
}

body, html{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff; 
}

h2 {
  font-family: "Patua One", cursive;
  font-size: 2rem;
  color: #FF69B4
}

.intro-container {
  background: linear-gradient(to right, #000428, #004e92);
}

.intro-frame {
  text-align: center;
  border-bottom: 0.03rem #ffffff solid;
  font-size: 1.3rem;
  font-family: "Patua One", cursive;
  color: #00ffff;
}

.picture {
  height: 8rem;
  border-radius: 100%;
  border: 0.05rem solid #d3d3d3;
  margin-top: 2.3rem;
}

.socialmedia-icons {
  list-style: none;
  display: flex;
  padding-left: 1.5rem;
  padding-bottom: 0.7rem;
  border-bottom: 0.03rem #ffffff solid;
  margin-bottom: 0;
}

.socialmedia-icons a {
  color: #dbff3d;
}

.socialmedia-icons a i:hover {
  -webkit-animation: heartBeat 1s;
  animation: heartBeat 1s;
}

.socialmedia-icons > li {
  padding: 0.3rem;
}

.dropdown-menu {
  margin-left: auto;
  margin-right: 1.3rem;
  color: #dbff3d;
}

#myLinks {
  display: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#myLinks a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #00ffff;
  font-family: "Raleway", sans-serif;
}

.intro-wrapper {
  /* background: linear-gradient(to right, #A1FFCE, #FAFFD1); */
  background: #000000;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color:#ffffff;
}

#intro {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#intro p{
  font-size: 1.4rem;
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
  font-family: "Changa One", cursive;
  font-size: 2.5rem;
  margin: 0 auto;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

/* <--- About Me Section ---> */
#about{
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
}

.text-wrapper{
    padding: 0 1.3rem;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2.5rem;
}

.text-contents{
  padding: 1rem 2rem 0;
  text-align: left;
}

.text-wrapper img{
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  border: 0.05rem solid #d3d3d3;
}

.text-wrapper h2{
    margin-top: 0;
    padding-top: 2rem;
}
/* <--- End of About Me Section ---> */

.porfolio-container{
    /* background: linear-gradient(to right, #FFEFBA, #FFFFFF);  */
    padding-top: 1.5rem;
    font-family: "Raleway", sans-serif;
    padding-bottom: 1rem;
}

.porfolio-container h2{
    padding-bottom: 2rem;
}

.portfolioImages {
  text-align: center;
}

.portfolioImages img {
  height: 60%;
  width: 60%;
}

.portfolioText {
  text-align: center;
  padding: 0 1.3rem;
}

.portfolioText h3{
  font-size: 2rem;
  font-weight: 700;
  color: #dbff3d;
}

.portfolio-links {
  margin: 1rem auto 3rem;
  text-align: center;
}

.portfolio-links a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
  border-radius: 20px;
  opacity: 0.8;
  font-size: 0.8rem;
  width: 5rem;
  height: 1.7rem;
  padding: 0.5rem;
}

#skills {
  text-align: center;
  padding-top: 1rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  justify-items: center;
  font-family: "Raleway", sans-serif;
}

.skillItems {
  font-weight: 700;
}

.skillItems i {
  font-size: 5rem;
}


h2 {
  text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* #contact{
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
} */

.contact-form {
  width: 17rem;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.contact-form form {
  border-radius: 1rem;
  border: #7FFF00 solid;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(to bottom, #2BC0E4, #EAECC6); 
  font-family: "Patua One", cursive;
}

.contact-form form input {
  width: 100%;
  border: 0.05rem solid #282c37;
  cursor: text;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-form form textarea {
  width: 100%;
  border: 0.05rem solid #282c37;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  border: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); 
  margin: 30px auto 0;
  opacity: 1;
  transition: opacity 0.3s;
  
}

.footer-container {
  text-align: center;
  background: linear-gradient(to right, #000428, #004e92);
  color: #ffffff;
}

.footer-container p{
    margin: 0;  
    padding: 1rem;
}

/* <--- Header Animation Section ---> */

.chrome {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #2BC0E4 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

.chrome:before {
  content: 'alexand';
  position: absolute;
  left: 10%;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.dreams {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 60%;
  margin-top: -4rem;
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

.windows .dreams {
  -webkit-text-stroke: 4px #f008b7;
}

@-webkit-keyframes chrome_effect {
  0% {background-position:-680px 0;}
  10% {background-position:420px 0;}
  100% {background-position:420px 0;}
}

/* <---End of Header Animation Section---> */

@media only screen and (min-width: 768px){

  #intro h1{
    font-size: 5rem;
  }

  #intro p{
    font-size: 2.5rem;
  }

  .chrome:before {
    content: 'Alexander';
    left: 12%;
  }
  
  .dreams {
    margin-left: 60%;
    margin-top: -120px;
  }  
}

@media only screen and (min-width: 960px){

  body, html{
    margin-left: 20%;
    background-color: #000000;
    color: white;
  }

  h2 {
    font-size: 3rem;
    color: #FF69B4
  }

  .intro-container {
    position: fixed;
    left: 0;
    top: 0;
    padding-left:1rem;
    padding-right: 1rem;
    width: 20%;
    height: 100%;
  }

  .intro-frame{
    margin:0 -16px;
  }

  .socialmedia-icons{
    margin-right: -16px;
    margin-left: -16px;
    justify-content: space-evenly;
    padding-right: 1.3rem;
  }

   #myLinks {
    display: block;
    padding-top: 2.5rem;
   } 

   #myLinks a:hover{
    color: #FF69B4  
   }

   .dropdown-menu{
     display: none;
   }
   
   .intro-wrapper{
     padding-top: 20%;
     padding-bottom: 45%;
   }

   .rotate-scale-up{
     font-size: 5rem;
   }

   #intro h1{
     font-size: 7rem;
   }

   #intro h3{
     font-size: 2rem;
     left: 40%;
     position: absolute;
   }

   #intro p{
     font-size: 3rem;
   }

  .portfolioItems-one{
    display: flex;
    padding: 3rem 2rem 1rem 2rem;
  }

  .portfolioText p:nth-child(3){
    text-align: left
  }

  .portfolioImages img{
    height: 15rem;
    width: 20rem;
  }

  .portfolioItems-two{
    display: flex;
    padding: 1rem 2rem 5rem 2rem;
    flex-direction: row-reverse;
  }

  .porfolio-container{
    background: black;
    /* padding-top: 1.5rem;
    font-family: "Raleway", sans-serif;
    padding-bottom: 1rem; */
}

#contact{
  background: black;
}

.footer-container {
  text-align: center;
  background: black;
  color: #ffffff;
}

.text-wrapper img:hover {
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

/* <--- Header Animation Section ---> */

.chrome:before {
  content: 'ALEXANDER';
  left: 15%;
}

.dreams {
  margin-left: 45%;
  margin-top: -150px;
}

/* <---End of Header Animation Section---> */


/* <--- About Me Section ---> */

.text-wrapper{
    display: flex;
    justify-content: space-between;
}

.text-wrapper img{
  height: 15rem;
  width: 15rem;  
}

/* <--- End of About Me Section ---> */

} 





  
